<!DOCTYPE html>
<html>

<head>
	<script src="D:\js\angular.min.js">

		</script>
</head>
<body ng-App="" ng-init="quantity=0;price=0">

	<div style="background-color:brown ; border: '2px'">
		Item Name 	: <input type ="text" ng-model="item"/><br>
	
			
		Quantity 	: <input type ="text" ng-model="quantity"/><br>
				

		Price 		: <input type ="text" ng-model="price"/><br>
				

		Total 		: <input type ="text" ng-model="quantity*price | currency "/><br>
	</div>
		

</body>
</html>